* {
  margin: 0;
  padding: 0;
}

body {
  font: 400 15px/1.8 Lato, sans-serif;
  color: #777;
  width: 100%;
  padding-top: 0 !important;
  margin: 0;
  word-break: break-all;
}

h3,
h4 {
  margin: auto;
  letter-spacing: 1px;
  font-size: 25px;
  color: white;
  padding-bottom: 0;
  padding-top: 0;
  font-weight: 900;
}

.imgteam {
  width: 230px;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 55px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 20px;
  color: white;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover,
.offcanvas a:focus {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 30px;
  margin-left: 50px;
}

#main {
  transition: margin-left .5s;
  padding: 16px;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }

  .sidenav a {
    font-size: 18px;
  }
}

/* Header (full screen) */
.header {
  background-image: url('../img/hearthand.jpg');
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  max-width: 100%;
  height: 100vh;
}

.header h2 {
  font-family: Montserrat, sans-serif;
  font-size: 180px;
  margin-bottom: 5px;
  letter-spacing: -5px;
  font-weight: 900;
  line-height: 70px;
  padding-top: 10px;
}

/*header button*/
.button1 {
  padding: 12px 25px;
  background-color: #4682b4;
  color: white;
  border: none;
  transition: .2s;
  margin: 10px;
  border: solid;
  border: 1px;
  border-radius: 250px;
  border-color: #4682b4;
}

.button1 .btn.btn-lg {
  font-size: 2rem;
  font-weight: bold;
  padding: 1rem 1.5rem;
  border-radius: 2em;
  border: 5px;
}

.button1.btn:hover,
.btn:focus {
  background-color: black;
  color: white;
}

.button2 {
  padding: 10px 25px;
  background-color: transparent;
  color: white;
  border-style: solid;
  border-width: 1px;
  border-color: white !important;
  border-radius: 250px;
  transition: .2s;
  margin: 10px;
}

.button2 .btn.btn-lg {
  font-size: 2rem;
  font-weight: bold;
  padding: 1rem 1.5rem;
  border-radius: 2em;
}

.button2.btn:hover,
.btn:focus {
  background-color: #4682b4;
  border-style: none;
  border: 1px;
  color: white;
}

.button3 {
  background-color: transparent;
  color: #4682b4;
  border-style: solid;
  border-width: 1px;
  border-color: #4682b4 !important;
  border-radius: 250px;
  transition: .2s;
  font-style: normal;
  font-weight: 700;
  line-height: 51px;
  padding: 0 37px;
  font-size: 14px;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-family: sans-serif;
}

.button3 .btn.btn-lg {
  font-size: 2rem;
  font-weight: bold;
  padding: 1rem 1.5rem;
  border-radius: 2em;
}

.button3.btn:hover,
.btn:focus {
  background-color: #4682b4;
  border: 1px;
  color: white;
}

.upper1 {
  font-weight: 550;
  font-family: sans-serif;
  font-size: 16px;
  line-height: 1.6875em;
  color: #5a5a5a;
}

.header p {
  font-size: 25px;
  color: white;
  max-width: 50rem;
  justify-content: center;
  line-height: 39px;
  max-width: 100%;
  margin: 10px;
  letter-spacing: 1px;
}

.second1 {
  padding: 50px 40px 40px 100px;
  color: black;
}

.second1 > h3 {
  color: black !important;
}

/*third container*/
#uac1 {
  padding-top: 60px;
  padding-bottom: 100px;
  padding-right: 80px;
  padding-left: 80px;
  background-image: url('../img/uac.jpg');
  background-attachment: fixed;
  background-color: #f2f2f2;
}

#t2 {
  padding-bottom: 30px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: #f2f2f2;
  background-size: cover;
  padding-top: 150px;
  padding-bottom: 150px;
}

.t1 {
  border-top-style: solid;
  border-top-width: 7px !important;
  border-color: #337ab7;
  margin-left: 1px;
  padding: 8px;
  padding-top: 15px !important;
  padding-bottom: 15px !important;
  margin-right: 3px;
  max-width: 100%;
  margin: 10px auto 10px auto;
  background-color: white;
  width: 354px;
  height: 300px;
}

.content {
  margin-right: 40px !important;
  padding: 90px 20px 10px 35px;
}

.margin {
  font-family: Montserrat, sans-serif;
  font-size: 62px;
  line-height: 1.2em;
  font-weight: 700;
  letter-spacing: -4px;
  text-transform: capitalize;
  text-align: center;
  color: rgb(255, 255, 255);
  padding-bottom: 66px;
  padding-top: 45px;
}

.icon1 {
  line-height: 10px;
  font-size: 60px;
  font-weight: 70;
  color: #337ab7;
  padding-top: 20px;
}

.heading {
  font-size: 20px;
  line-height: 1.4em;
  letter-spacing: -.2px;
  font-weight: 700;
  font-family: Montserrat, sans-serif;
  color: #121212;
  text-align: center;
  padding-top: 40px;
}

.heading:hover {
  color: #337ab7;
}

.icon-graph {
  line-height: 2;
}

.show {
  margin-left: 60px !important;
  padding-left: 8px !important;
  font-size: 32px;
  line-height: 1.34em;
  letter-spacing: -1.8px;
  font-weight: 2000;
  font-family: Montserrat, sans-serif;
  color: #121212;
  text-align: left;

}

.t1 > p {
  padding-top: 10px;
}

/*fourth container*/
#where {
  background-image: url('../img/stars.jpg');
  background-attachment: fixed;
  background-size: cover;
  padding-top: 90px;
  color: white !important;
  padding-bottom: 65px;
  padding-right: 80px;
  padding-left: 80px;
}

.a1 {
  font-size: 20px;
  line-height: 1.4em;
  letter-spacing: -.2px;
  font-weight: 700;
  font-family: Montserrat, sans-serif;
  text-align: left;
  padding-bottom: 29px;
  color: white;
}

.where > h4 {
  font-family: Ubuntu, sans-serif;
  font-size: 16px;
  line-height: 27px;
  font-weight: 500;
  color: #f0f0f0;
}

.where > p {
  color: #f3f2f2;
  text-align: left;
}

.where {
  border-left-style: solid;
  border-left-width: 2px !important;
  padding: 4px;
  border-color: white;
  line-height: 30px;
  margin-bottom: 5px;
  text-align: left;
  padding-left: 20px !important;
}

.button4 {
  background-color: white;
  color: #4682b4;
  border-radius: 250px;
  transition: .2s;
  margin: 60px 10px;
  font-style: normal;
  font-weight: 700;
  line-height: 51px;
  padding: 0 37px;
  font-size: 14px;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-family: sans-serif;
  margin-bottom: 40px;
  margin-top: 61px;
}

.button4 .btn.btn-lg {
  font-size: 2rem;
  font-weight: bold;
  padding: 1rem 1.5rem;
  border-radius: 2em;
}

.button4.btn:hover,
.btn:focus {
  background-color: black;
  color: white;
}

/*pricing container*/
.pricing > ul {
  list-style-image: url("../img/check.png");
  list-style-position: inside;
}

.pricing ul li {
  margin: 10px 0 0;
  padding-bottom: 4px;
}

.button5 {
  background-color: white;
  color: #4682b4;
  border-style: solid;
  border-width: 2px;
  border-color: #4682b4 !important;
  border-radius: 250px;
  transition: .2s;
  font-style: normal;
  font-weight: 700;
  line-height: 51px;
  padding: 0 37px;
  font-size: 14px;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-family: sans-serif;
  margin-bottom: 40px;
  margin-top: 40px;
}

.button5 .btn.btn-lg {
  font-size: 2rem;
  font-weight: bold;
  padding: 1rem 1.5rem;
  border-radius: 2em;
}

.button5.btn:hover,
.btn:focus {
  background-color: black;
  color: white;
}

.pricing > h1 {
  color: #3a6ee8;
  font-size: 32px;
  line-height: 1.34em;
  letter-spacing: -1.8px;
  text-align: left;
  font-weight: 700;
  font-family: Montserrat, sans-serif;
  margin-bottom: 0;
}

.dollar {
  font-size: 16px;
  line-height: 37px;
  color: #3a6ee8;
  vertical-align: bottom;
  font-weight: 700;
}

.money {
  font-size: 16px;
  line-height: 16px;
  vertical-align: middle;
  color: #3a6ee8;
  font-weight: 700;
  text-align: left;
}

.month {
  text-align: left;
  font-size: 14px;
  line-height: 16px;
  vertical-align: middle;
  font-weight: 400;
  color: #3a6ee8;
  text-transform: capitalize;
}

.pricing {
  border: 2px solid #cccccc;
  border-top: 7px solid #3a6ee8;
  background-color: #f2f2f2;
  margin-left: 1px;
  padding: 16px 44px 17px 40px;
  padding-top: 15px !important;
  padding-bottom: 15px !important;
  margin-right: 3px;
  max-width: 100%;
  margin: 10px 11px;
  background-color: white;
}

#pricing {
  padding: 15px 75px 70px 75px;
}

#t3 {
  padding-top: 60px;
  padding-bottom: 30px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: white;
}

.block1 {
  background-image: url('../img/bcb.jpg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  max-width: 100%;
  padding-bottom: 75px;
  padding-top: 20px;
  color: white;
}

.block1 > h2 {
  color: #fff;
  font-weight: 800;
  font-family: Montserrat, sans-serif;
  text-align: center;
  font-size: 34px;
  line-height: 1.34em;
  letter-spacing: -1px;
  padding-top: 35px;
  padding-bottom: 4px;
}

.block1 > p {
  font-family: Ubuntu, sans-serif;
  font-size: 16px;
  line-height: 27px;
  font-weight: 400;
  color: #fff !important;
  padding: 5px 60px 30px 60px;
}

.feature1 {
  margin: 10px 83px 140px 18px;
}

.feature2 {
  margin: 2px 0 0 50px;
  padding-left: 30px;
  padding-bottom: 5px;
}

.featurebox1 {
  padding-left: 0;
  padding-right: 8px;
}

.feature2 > h3 {
  font-size: 20px;
  line-height: 1.4em;
  letter-spacing: -.2px;
  color: #121212;
  font-weight: 700;
  font-family: Montserrat, sans-serif;
}

.feature3 {
  padding-left: 35px;
  padding-right: 35px;
}

.feature3 > h3 {
  font-size: 32px;
  line-height: 1.34em;
  letter-spacing: -1px;
  font-weight: 800;
  font-family: Montserrat, sans-serif;
  color: #121212;
  padding-bottom: 21px;
}

.feature3 > p {
  font-family: Ubuntu, sans-serif;
  font-size: 16px;
  line-height: 27px;
  font-weight: 400;
  color: #5a5a5a;
  padding-bottom: 48px;
}

.thumbnail {
  width: 200px;
  height: 200px;
}

.feature4 {
  padding-bottom: 45px;
  padding-right: 225px;
}

.featurebox {
}

.quality {
  padding-bottom: 95px;
  padding-top: 150px;
}

/*  super creative*/
#super {
  background-image: url('../img/bcb.jpg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  max-width: 100%;
  padding: 70px 60px 60px 40px;
}

.margin1 {
  font-size: 32px;
  line-height: 1.6em;
  font-weight: 900;
  color: #fff;
  margin-bottom: 14px;
  text-align: left;
  font-family: Montserrat, sans-serif;
}

.mar {
  font-size: 16px;
  line-height: 25px;
  font-weight: 500;
  letter-spacing: 0;
  color: #fff;
  font-family: Ubuntu, sans-serif;
}

.margin2 {
  font-size: 20px;
  line-height: 1.6em;
  font-weight: 500;
  color: #fff;
  margin-bottom: 14px;
  text-align: left;
  font-family: Montserrat, sans-serif;
}

.abouttop3 > h2 {
  font-family: Montserrat, sans-serif;
  font-size: 62px;
  line-height: 1.2em;
  font-weight: 900;
  letter-spacing: -4px;
  text-transform: capitalize;
  text-align: center;
  color: rgb(26, 26, 26);
  padding-bottom: 30px;
}

.abouttop3 > p {
  font-family: Ubuntu, sans-serif;
  font-size: 16px;
  line-height: 27px;
  font-weight: 400;
}

.department {
  text-align: center;
}

#portfolio {
  background: #ebebeb;
  padding-bottom: 30px;
  padding-left: 50px;
  padding-right: 50px;
}

.teamname {
  color: #2d2c2e;
  margin-bottom: 1px;
  font-weight: 800;
  letter-spacing: -.2px;
  font-family: Montserrat, sans-serif;
  font-size: 20px;
  line-height: 1.6875em;
}

.super0 {
  text-align: left !important;
}

.about {
  padding-bottom: 60px;
  padding-top: 25px;
}

#teamfinal {
  padding: 63px 0 0;
}

.staff {
  padding: 18px 32px;
  text-align: center;
}

.staff > h2 {
  font-weight: 900;
  letter-spacing: -.2px;
  font-family: Montserrat, sans-serif;
  font-size: 32px;
  line-height: 1.6875em;
  text-align: center;
  color: #121212;
}

.staff > p {
  text-align: center;
}

.contact {
  padding-top: 10px;
  padding-bottom: 10px;
}

.contact > h3 {
  color: #fff;
  margin-bottom: 24px;
  font-size: 16px;
  line-height: 1.6875em;
  font-weight: 700;
  letter-spacing: -.2px;
  font-family: Montserrat, sans-serif;
  text-align: center;
}

.bg-2 {
  background-color: #131313;
  color: #ffffff;
  padding: 50px;
  max-width: 100%;
  text-align: center;
}

.foot {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.imgyum {
  width: 235px;
  height: 250px;
}

@media only screen and (max-width: 768px) {
  .header p {
    margin: 0px 42px 11px 42px;
    letter-spacing: 3px;
  }
}

aside .region {
  background: #f5f5f5;
  border-top: 5px solid #337ab7;
  padding: 15px;
}

a.logo img {
  width: 95px;
}

#mySidenav ul.navbar-nav {
  padding-top: 50px;
  width: 100%;
}

#mySidenav ul.navbar-nav li {
  float: none;
}

.container-fluid .row {
  margin-right: auto;
  margin-left: auto;
}

.header .button1 p,
.header .button2 p {
  font-size: 18px;
  color: white;
  justify-content: center;
  line-height: 1;
  max-width: 100%;
  margin: 0;
  letter-spacing: 1px;
}

.header .subheading p {
  font-size: 25px;
  color: white;
  justify-content: center;
  line-height: 39px;
  max-width: 100%;
  margin: 0;
  letter-spacing: 1px;
}

.header h2.homepagetitle,
.header h2.homepagetitle p {
  font-family: Montserrat, sans-serif;
  font-size: 180px !important;
  margin: 0 0 5px !important;
  letter-spacing: -5px;
  font-weight: 900 !important;
  line-height: 70px;
  padding-top: 10px;
}

.navbar-right {
  float: none !important;
}

.field--name-comment-body {
  border: 3px solid #eee;
  border-radius: 5px;
  padding: 10px;
  margin-top: 10px;
}

.modal-content .modal-title {
  color: #777;
}

.user-logged-in .dark-background {
  margin-top: 35px;
}

.dark-background .navbar-header {
  float: none;
}

.dark-background .navbar-default {
  background-color: rgba(0, 0, 0, .0001);
  box-shadow: 0 4px 5px #e5e5e5;
}

.dark-background .navbar li {
  margin: 0px 10px;
}

.dark-background .navbar-default .navbar-nav > .active > a, .dark-background .navbar-default .navbar-nav > .active > a:focus, .dark-background .navbar-default .navbar-nav > .active > a:hover {
  color: #555;
  background-color: rgba(255, 255, 255, .15);
  border-bottom: 4px solid #4682b4;
}

.dark-background .main-container {
  margin-left: 20px;
  margin-right: 20px;
}

.dark-background .button.form-submit {
  background-color: #4682b4;
  color: white;
  border: none;
  transition: .2s;
  border: solid;
  border: 1px;
  border-radius: 5px;
  border-color: #4682b4;
  text-transform: uppercase;
}

.dark-background h1, .dark-background h2, .dark-background h3 {
  font-family: Montserrat, sans-serif;

  color: black;
}

.dark-background aside .region {
  background: transparent;
  box-shadow: 0 4px 5px #e5e5e5;
  margin-top: 45px;
}

.dark-background .content {
  margin-right: 0px !important;
  padding: 15px 20px 10px 0px;
}

img {
  max-width: 100%;
}
