<header>
  <div class="header text-center">
    <div id="mySidenav" class="sidenav">
      <a href="javascript:void(0)" class="closebtn">&times;</a>
      {{ page.navigation }}
    </div>
    <div id="main">
      <span style="font-size:35px;color:white ; cursor:pointer ;position: fixed; top: 5px; left: 9px;">&#9776; </span>
    </div>
    {% if page.header %}
      <h2 class="homepagetitle"> {{ page.page_title }} </h2>
    {% endif %}
    <p class="subheading"> {{ page.page_subheading }} </p>
    <button type="button" class="btn btn-lg button1"> {{ page.header_button1 }}</button>
    <button type="button" class="btn btn-lg button2"> {{ page.header_button2 }} </button>
  </div>
</header>
<!-- second container -->
{% if page.content %}
  <div id="about" class="container-fluid">
    <div class="row">
      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12 second1">
        <p class="upper1">
          {{ page.content_left }}
        </p>
        <br>
        <button class="btn btn-primary btn-lg button3 ">meet the team <i class="glyphicon glyphicon-arrow-right"
                                                                         aria-hidden="true"> </i></button>
      </div>
      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12 second1">
        {{ page.content_right }}
      </div>
    </div>
  </div>
{% endif %}
<!-- third container -->
<div id="uac1" class="container-fluid bg-3 text-center uac2">
  <h3 class="margin"> {{ page.creatvite_section }} </h3><br>
  <div class="row text-center ">
    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4">
      <div class="t1 creatvite_section1">
        {{ page.creatvite_section1 }}
      </div>
    </div>
    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4">
      <div class="t1">
        {{ page.creatvite_section2 }}
      </div>
    </div>
    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4">
      <div class="t1">
        {{ page.creatvite_section3 }}
      </div>
    </div>
  </div>
  <br>
</div>
<div id="t2" class="container-fluid bg-3">
  <div class="row">
    <div class="col-lg-4">
      <h3 class="show">
        {{ page.content_bottom_left }}
      </h3>
    </div>
    <div class="col-lg-8">
      <p class="content">
        {{ page.content_bottom_right }}</p>
    </div>
  </div>
</div>
<!--fourth container  -->
{% if page.price_block1 or page.price_block2 %}
  <div id="t3" class="container-fluid bg-3">
    <div class="row">
      <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <h3 class="show">
          {{ page.price_block1 }}
        </h3>
      </div>
      <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8 col-xs-12">
        <p>
          {{ page.price_block2 }}
        </p>
      </div>
    </div>
  </div>
{% endif %}
<!-- fourth container -->
{% if page.award_section or page.award_section1 or page.award_section2 or page.award_section3 %}
  <div id="where" class="container-fluid bg-3">
    <div class="row Awards-title-block">
      <div class="col-xl-12 col-lg-12 col-md-12 Awards-title text-center">
        {{ page.award_section }}
      </div>
    </div>
    <div class="row Awards-sub-title">
      <div class="col-xl-4 col-lg-4 col-md-4">
        {{ page.award_section1 }}
      </div>
      <div class="col-xl-4 col-lg-4 col-md-4">
        {{ page.award_section2 }}
      </div>
      <div class="col-xl-4 col-lg-4 col-md-4">
        {{ page.award_section3 }}
      </div>
      <br>
      <br>
      <br>
      <div class="row">
        <div class="col-lg-12 text-center">
          <button class="btn btn-primary btn-lg button4 ">meet the team <span
              src="{{ base_path ~ directory }}/img/arrow1.png" alt="Cha">> </span></button>
        </div>
      </div>
      <br>
      <br>
    </div>
  </div>
{% endif %}
{% if page.price_block3 or page.price_block4 or page.price_block5 or page.price_block6 or page.price_block7 %}
  <div id="t3" class="container-fluid bg-3">
    <div class="row">
      <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <h3 class="show">
          {{ page.price_block3 }}
        </h3>
      </div>
      <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8 col-xs-12">
        <p>
          {{ page.price_block4 }}
        </p>
      </div>
    </div>
    <div class="container-fluid price-color-block">
      <div class="row">
        <div class="col-lg-4 col-xl-4 col-lg-4 col-md-4 col-sm-4 col-xs-12">
          <div class="price-block-color">{{ page.price_block5 }}</div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-xs-12 ">
          <div class="price-block-color">{{ page.price_block6 }}</div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-xs-12 ">
          <div class="price-block-color">{{ page.price_block7 }}</div>
        </div>
      </div>
    </div>
  </div>
{% endif %}
{% if page.price %}
  <div class="container-fluid text-center block1 pb1">
    <div class="row price-block">
      <div class="col-lg-12">
        {{ page.price }}
        <img class="hidden-lg hidden-xs hidden-lg price-block-img" src="{{ base_path ~ directory }}/img/arrowdown.png"
             alt="New">
      </div>
    </div>
  </div>
{% endif %}
<!-- features container -->
{% if page.contentsecondary_bottom_left or page.contentsecondary_bottom_right or page.contentsecondary_bottom_right_img1 or page.contentsecondary_bottom_right_img2 or
  page.contentsecondary_bottom_right_img3 %}
  <div class="container con quality">
    <div class="featurebox1">
      <div class="row">
        <div class="col-lg-3 featurebox-1">
          <div class="feature2">
            {{ page.contentsecondary_bottom_left }}
          </div>
        </div>
        <div class="col-lg-9 featurebox">
          {{ page.contentsecondary_bottom_right }}
          <div class="container-fluid feature-img-box">
            <div class="row featurebox-img">
              <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-xs-12 featureboximg1">
                {{ page.contentsecondary_bottom_right_img1 }}</div>
              <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-xs-12 featureboximg2">
                {{ page.contentsecondary_bottom_right_img2 }}</div>
              <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-xs-12 featureboximg3">
                {{ page.contentsecondary_bottom_right_img3 }}</div>
              <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-xs-12 featureboximg1">
                {{ page.contentsecondary_bottom_right_img1 }}</div>
              <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-xs-12 featureboximg2">
                {{ page.contentsecondary_bottom_right_img2 }}</div>
              <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-xs-12 featureboximg3">
                {{ page.contentsecondary_bottom_right_img3 }}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endif %}
<!-- super creative container -->
{% if page.super_creative1 or page.super_creative2 %}
  <div id="super" class="container-fluid sc-1 text-center">
    <div class="col-lg-4">
      {{ page.super_creative1 }}
      <br>
      <img src="{{ base_path ~ directory }}/img/p4.jpg" class="img-circle" alt="Cinque Terre" width="236" height="236">
    </div>
    <div class="col-lg-8 super0">
      {{ page.super_creative2 }}
    </div>
  </div>
{% endif %}
<!-- portfolio container -->
{% if page.portfoliotitle or page.portfolio1 or page.portfolio2 or page.portfolio3 %}
  <div id="contact" class="container-fluid pf-1">
    <div class="container">
      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 portfolio-title">
          {{ page.portfoliotitle }}
        </div>
        <div class="portfolio">
          <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-xs-12">
            {{ page.portfolio1 }}
          </div>
          <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-xs-12">
            {{ page.portfolio2 }}
          </div>
          <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-xs-12">
            {{ page.portfolio3 }}
          </div>
        </div>
        <div class="row">
          <div class="portfolio">
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-xs-12">
              {{ page.portfolio1 }}
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-xs-12">
              {{ page.portfolio2 }}
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-xs-12">
              {{ page.portfolio3 }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endif %}
<!-- team member -->
{% if page.meet_team1 or page.meet_team2 or page.meet_team3 or page.meet_team4 %}
  <div id="contact" class="container mt-1">
    <div class="meet_team container-fluid">
      <div class="row">
        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-xs-12">
          {{ page.meet_team1 }}
        </div>
        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-xs-12">
          {{ page.meet_team2 }}
        </div>
        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-xs-12">
          {{ page.meet_team3 }}
        </div>
        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-xs-12">
          {{ page.meet_team4 }}
        </div>
      </div>
    </div>
  </div>
{% endif %}
<hr>
<!-- department -->
{% if page.department1 or page.department2 or page.department3 or page.department4 %}
  <div>
    <div id="contact" class="container-fluid db-1">
      <div class="department container-fluid">
        <div class="col-lg-3 col-xl-3 col-md-6 col-sm-6 col-xs-12">
          {{ page.department1 }}
        </div>
        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-xs-12">
          {{ page.department2 }}
        </div>
        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-xs-12">
          {{ page.department3 }}
        </div>
        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-xs-12">
          {{ page.department4 }}
        </div>
      </div>
    </div>
  </div>
{% endif %}

<!-- footer -->
{% if page.footer1 or page.footer2 or page.footer3 or page.footer4 %}
  <footer>
    <div id="contact" class="container-fluid bg-2">
      <div class="footer container-fluid">
        <div class="row">
          <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-xs-12 contact">
            {{ page.footer1 }}
          </div>
          <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-xs-12 contact">
            {{ page.footer2 }}
          </div>
          <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-xs-12 contact">
            {{ page.footer3 }}
          </div>
          <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-xs-12 contact">
            {{ page.footer4 }} <span>
          <i class="fa fa-facebook-official" aria-hidden="true"></i>
          <i class="fa fa-google-plus-official" aria-hidden="true"></i>
          <i class="fa fa-twitter" aria-hidden="true"></i>
          <i class="fa fa-pinterest" aria-hidden="true"></i>
          </span>
          </div>
        </div>
      </div>
  </footer>
{% endif %}
